@import 'variables/colors.css';

h1 {
  font-size: 200%;
}

h2 {
  font-size: 130%;
}

body {
  background-color: var(--color-neutral-2);
}

p {
  padding: 5px;
}

.footer {
  background-color: var(--color-secondary);
  border-top: 2px solid black;
  text-align: center;
  padding: 5px;
}
