
.container {
  width: 100%;
  margin: auto;
  align-items: center;
}

.header {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: var(--color-secondary);
  border-bottom: 2px solid black;
  margin-bottom: 0;
}

.header .container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  min-height: 100vh;
  margin: 0;
}

.header .container ul {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.details {
  margin-bottom: 0;
  border: 1px solid var(--color-quinary);
}

tbody tr:nth-child(even) {
  max-width: 420px;
  background-color: var(--color-neutral-6);
}
