
.container {
  width: 100%;
  margin: auto;
  align-items: center;
}

.header {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: var(--color-secondary);
  border-bottom: 2px solid black;
  margin-bottom: 0;
}

.header .container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100vh;
  margin: 0;
}

.header .container ul {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.links {
  align-self: center;
}

.linkedin_img {
  padding-bottom: 6px;
}

.aside {
  display: flex;
}

.details {
  margin-bottom: 0;
  border: 1px solid var(--color-quinary);
}

tbody tr:nth-child(even) {
  background-color: var(--color-neutral-6);
}
