
/*global*/
body {
  background-color: grey
}
/*global*/
header{
  min-height: 70px;
  background-color: #666;
  padding: 4px;
}

.box{
  height: 40px
  float: right;
  display: inline;
}


/*global*/
.container{

  width: 80%;
  margin: auto;
}

/*global*/
strong{
  font-weight: bold;
}
/*global*/
h1{
font-size: 200%;
}
/*global*/
h2{
  font-size: 120%;
}
/*global*/
p{
  padding: 10px;
}

hr{
  width: 80%;
}

table{
  border: 109px;
}

table td .fixed
{
  table-layout:fixed;
  width:220px;
}

td{
  border: 1px solid black;
}
.git_img{
  padding-top: 10px;
  border: 0;
    width: 120px;
}

.linkedin_img{
  border: 0;
    width: 160px;
    padding-bottom: 5px;
}

.profile-image{
    height: 200px;
    width: 150px;
    border-radius: 15px;
}

#information{
  float: left;
  width: 150px;
  height: 700px;
}

#profile{
    margin-left: 155px;

    min-width: 150px;
}
.left {
        float:left;
        width:auto;

}
.right {
  position: relative;
      left: 10px;
        margin-right: auto;
        margin-left: 250px;
}


footer{
  background-color: #666;
  height: 25px;
}
